<!--................................................................................
    index.html
    Markup for index page of BakeOff1: Tiny Keyboards, Fat Fingers
    Use Google Chrome as browser
    Written by: Daniel Fong, Mark Chen, Riyya Hari Iyer
    Date Created: 10/15/2019
    Last Modified: 10/20/2019
  	................................................................................-->	
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>BakeOff #1</title>
</head>

<body>
    <header>
        <h1 id="main-header">Tiny Keyboards, Fat Fingers</h1>
    </header>


    <label class="main-label" id="main-typedTextLabel">Your texts: </label>
    <br>
    <textarea id="main-typedTextArea" type="textarea" name="typedText"></textarea>
    <br>

    <br>
    <label class="main-label" id="main-swipeDirectionLabel">Your drag direction: </label>
    <br>
    <input id="main-swipeDirection" type="textbox" name="swipeDirection" readonly>
    <br>

    <br>
    <label class="main-label" id="main-lastTypedCharLabel">Your last key: </label>
    <br>
    <input id="main-lastTypedChar" type="textbox" name="lastTypedChar" readonly>
    <br>



    <div class="main-keyboard-container" id="SwipeArea">
        <div class="keyboard-button-container" id="Keyboard">
            <button class="keyboard-button" id="key_1"></button>
            <button class="keyboard-button" id="key_2"></button>
            <button class="keyboard-button" id="key_3"></button> 
            <button class="keyboard-button" id="key_4"></button>
            <button class="keyboard-button" id="key_5"></button>
            <button class="keyboard-button" id="key_6"></button> 
            <button class="keyboard-button" id="key_7"></button>
            <button class="keyboard-button" id="key_8"></button>
            <button class="keyboard-button" id="key_9"></button>
            <button class="keyboard-button" id="key_10"></button> 
            <button class="keyboard-button" id="key_11"></button> 
            <button class="keyboard-button" id="key_12"></button> 
        </div>
    </div>


    <!-- my own or 3rd party library -->


    <!-- project specific code -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/bakeoff1.main.js"></script>
</body>
</html>