<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>BakeOff #1</title>
</head>

<body>
    <header>
        <h1>Tiny Keyboards, Fat Fingers</h1>
    </header>
    <textarea id="TextArea1"></textarea>
    <br>
    <button class="buttonBig" id="Button1">Toggle</button>
    <br>
    <div class="btn-group">
        <button class="buttonSmall" id="Button_TL">abc</button><!--
        --><button class="buttonSmall" id="Button_TM">def</button><!--
        --><button class="buttonSmall" id="Button_TR">ghi</button> 
        <br>
        <button class="buttonSmall" id="Button_ML">jkl</button><!--
        --><button class="buttonSmall" id="Button_MM">mno</button><!--
        --><button class="buttonSmall" id="Button_MR">pqr</button> 
        <br>
        <button class="buttonSmall" id="Button_BL">stu</button><!--
        --><button class="buttonSmall" id="Button_BM">vwx</button><!--
        --><button class="buttonSmall" id="Button_BR">yz</button> 
        <br>
    </div>
    <button class="buttonBig" id="Button_clear">Clear text!</button> 
    <br>


    <!-- project specific code -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/bakeoff1.main.js"></script>



</body>
</html>